
<!-- Landing Page Section -->
<section id="#home"class="home-wrapper">

<!-- Welcome Jumborton h1 -->
<div class="container">
<div class="row">
<div class="jumbotron">
<h1 id="startchange" style="font-size: 63px;">Hey, I'm Matt and this is my personal site.</h1>
<h2>Part UX Designer | Part Software Engineer</h2>
<h3>London | Sydney</h3>
</div>
</div>
</div>
</div>
</section><!-- Home-wrapper Section END -->



<!-- About Section -->
<section id="about" class="about">
<div class="container">
<h1>About Me.</h1>	
<div class="row">
<div class="col-xs-12 col-md-6">
                    <img class="img-circle img-responsive" src="<%= asset_path 'Prof.jpg' %>" alt="#">
</div>  
<div class="col-xs-12 col-md-6">             
<h3>Bio</h3>
<br>
<p>Matthew is an aspiring Front-End Developer and Uxer. Matt has a passion for pixelation harmony, innovation and creative solutions.  
<br>
Matthew is mindful, passionate and obcessed with beautiful deign. Matt lives for clean, user-centric and scalable code.
<br>
</p>
<h3>Focus</h3>
<br>
<p>
This year will be a year of education for. Beginning in May 2016 with a 16 week JavaScript bootcamp with Founders & Coders - 'The most comprehensive training in JavaScript web development in the UK." - followed by a Msc in Human-computer interaction and Ergonomics at UCL beginning September 2016. 
<br>
<h3 class="info">Availability</h3>
<br>
<p>Matthew is available for short-term, long-term contracts and freelance engagements.</p>
<br>
</div>
</div>
</div>
        <div class="about-quote">
  <blockquote>"Ideas are cheap. Execution <em>is</em> everything."</blockquote>
  <cite> - Chris Sacca </cite>
          </div>
</section><!-- About Section END -->

<section id="contact" class="contact">
<div class="container-fluid">
<h1>Contact Me.</h1>
<h2>Say hi..</h2>
<img src="<%= asset_path 'contact.png' %>" alt="#">
<p>I can always be found at the end of a phone line or email. I will very rarely, if ever, turn down a coffee.</p>

<p>Please do not hesitate to get in touch :)</p>
</div>	

<div class="container">
<a href="mailto:raftmatt@gmail.com"><button type="button" class="btn btn-success btn-lg round">Message Matt</button></a>
</div>
<!-- Social Links -->
<div class="container-fluid">
<div class="social-wrapper">
<div class="social-inner">
<a href="https://www.facebook.com/matthew.raft.9"><i class="fa fa-facebook fa-2x"></i></a>
<a href="https://www.codepen.com/Matthew-Rafty24"><i class="fa fa-codepen fa-2x"></i></a>
<a href="https://www.github.com/Matthew-Rafty24"><i class="fa fa-github fa-2x"></i></a>
<a href="https://www.linkedin.com/in/matthew-raft-49b59b46"><i class="fa fa-linkedin fa-2x"></i></a>
<a href="https://www.twitter.com/MatthewR_Xpand"><i class="fa fa-twitter fa-2x"></i></a>
</div>
</div>
</div>
</section>
<!-- Contact Section END -->
</body>
</html>