<!DOCTYPE html>
<html>
<!-- Head -->
<head>

<title>Matthew Raft - Part Developer | Part UX Designer</title>

<!-- Meta tags -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- CSS -->
    <link rel="stylesheets" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
<!-- Bootstrap CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">


</head>

<body id="home">
<section class="home-wrapper">
<div class="container">
<nav class="navbar row">
<div class="xs-sm-6 nav-logo">
	 <img class="nav-logo" src="<%= asset_path 'unicorn.png' %>" alt="Logo">
</div>
</nav>

</div>
	<div class="container">
	<h1>Welcome to my site.</h1>
</div>
</section>


<footer id="main-footer">
		<p class="copyright">&copy;2016 Matthew Raft</p>
	</footer>
</body>
</html>