<!DOCTYPE html>
<html>
<!-- Head -->
<head>

<title>Matthew Raft - Part Developer | Part UX Designer</title>

<!-- Meta tags -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- CSS -->
    <link rel="stylesheets" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Bootstrap CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>

<body id="home">
<!-- Landing Page Section -->
<section class="home-wrapper">
<div class="container">
<nav class="navbar row">
<div class="xs-sm-6 nav-logo">
	 <img class="nav-logo" src="<%= asset_path 'unicorn.png' %>" alt="Logo">
</div>
</nav>

</div>
	<div class="container">
	<h1>Welcome to my site.</h1>
</div>
</section><!-- Landing Section End -->

<!-- About Section -->
<section>
<div class="container-fluid">
<div class="row">
<h1>About Me</h1>	
</div>
</div>
</section>
<div class="container-fluid">
<div class="social-wrapper">
<div class="social-inner">
<a href="https://www.facebook.com/matthew.raft.9"><i class="fa fa-facebook fa-2x"></i></a>
<a href="https://www.codepen.com/Matthew-Rafty24"><i class="fa fa-codepen fa-2x"></i></a>
<a href="https://www.github.com/Matthew-Rafty24"><i class="fa fa-github fa-2x"></i></a>
<a href="https://www.linkedin.com/in/matthew-raft-49b59b46"><i class="fa fa-linkedin fa-2x"></i></a>
<a href="https://www.twitter.com/MatthewR_Xpand"><i class="fa fa-twitter fa-2x"></i></a>
<a href="https://www.behance.com/"><i class="fa fa-behance fa-2x"></i></a>
</div>
</div>
</div>
<footer id="main-footer">
		<p class="copyright">&copy;2016 Matthew Raft</p>
	</footer>
</body>
</html>