<!DOCTYPE html>
<html>
<!-- Head -->
<head>

<title>Matthew Raft - Part Developer | Part UX Designer</title>

<!-- Meta tags -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!-- CSS -->
    <link rel="stylesheets" href="assets/stylesheets/application.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Bootstrap CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>

<body id="home">
<!-- Landing Page Section -->
<section class="home-wrapper">
<!-- Navbar -->
<div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!-- Logo phone -->
                <a class="navbar-brand visible-xs scrollto" href="#home">Rd</a>

            </div>            
<a href="#" class="navbar-brand"><img class="nav-logo" src="<%= asset_path 'unicorn.png' %>" alt="Logo"><h1>M<sub>R</sub>T</h1></a>
        </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="scrollto">About Me</a>
                    </li>
                    <li>
                        <a href="#">What I Know<sub style="color: #fff;"><em>Under Construction</em></sub></a>
                    </li>
                    
                    <li>
                        <a href="#">My Work<sub style="color: #fff;"><em>Under Construction</em></sub></a>
                    </li>
                    <li>
                        <a href="#">Contact Me</a>
                    </li>
                </ul>
            </div>

        </div><!-- Navbar End -->
<!-- Welcome Jumborton h1 -->
<div class="jumbotron">
<div class="container">
<div class="row">
<div class="col-lg-9">
<h1 id="startchange" style="font-size: 63px;">Hey, I'm Matt and this is my personal site.</h1>
<h2>Part UX Designer | Part Software Engineer</h2>
<h3>London</h3>
</div>
</div>
</div>
</div>
</section><!-- Home-wrapper Section End -->



<!-- About Section -->
<section id="about">
<div class="container">
<h1>About Me.</h1>	
<div class="row">
<div class="col-xs-12 col-sm-12">
                    <img class="img-circle" src="<%= asset_path 'Prof.jpg' %>" alt="#">
         
<h3>My Bio</h3>
<br>
<p>Matthew is an Front-End software engineer with a passion for pixelation harmony. With a passion for innovation and creative solutions, Matt is able to creative amazing user experiences. 
<br>
Matthew is a unique coder. Mindful, passionate and obcessed with beautiful deign. Matt lives for clean, user-centric and scalable code.
<br>
2016 will be a year of education for Matthew. Beginning in May 2016 with a 16 week JavaScript bootcamp with Founders & Coders - 'The most comprehensive training in JavaScript web development in the UK." - followed by a Msc in Human-computer interaction and Ergonomics at UCL beginning September 2016. 
</p>
<h3>Availability</h3>
<br>
<p>Matthew is available for short-term and long-term contracts, freelance engagements.</p>
<br>
</div>
</div>
</div>
</section><!-- End of About Section -->




<div class="container-fluid">
<div class="social-wrapper">
<div class="social-inner">
<a href="https://www.facebook.com/matthew.raft.9"><i class="fa fa-facebook fa-2x"></i></a>
<a href="https://www.codepen.com/Matthew-Rafty24"><i class="fa fa-codepen fa-2x"></i></a>
<a href="https://www.github.com/Matthew-Rafty24"><i class="fa fa-github fa-2x"></i></a>
<a href="https://www.linkedin.com/in/matthew-raft-49b59b46"><i class="fa fa-linkedin fa-2x"></i></a>
<a href="https://www.twitter.com/MatthewR_Xpand"><i class="fa fa-twitter fa-2x"></i></a>
<a href="https://www.behance.com/"><i class="fa fa-behance fa-2x"></i></a>
</div>
</div>
</div>
<footer id="main-footer">
		<p class="copyright">&copy;2016 Matthew Raft</p>
	</footer>
</body>
</html>