<!-- Navbar -->
<div id="main-nav">
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <a data-scroll href="#home" class="navbar-brand">
        <img class="nav-logo" alt="Brand" src="<%= asset_path 'unicorn.png' %>"><h1>M<sub>R</sub>T</h1>
        </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-scroll href="#about">About Me</a>
                    </li>
                    <li>
                        <a data-scroll href="#">What I Know</a><sub style="color: #fff;"><em>Under Construction</em></sub>
                    </li>
                    
                    <li>
                        <a data-scroll href="#">My Work</a><sub style="color: #fff;"><em>Under Construction</em></sub>
                    </li>
                    <li>
                        <a data-scroll href="<%= asset_path 'MatthewRaftCV16.pdf' %>">My CV</a>
                    </li>
                    <li>
                        <a data-scroll href="#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            </div>
            </nav>
        </div><!-- Navbar End -->